@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&family=Russo+One&display=swap');

body{
    background-image: url("../res/background.jpg");
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: cover;
}
.links {
    color: #930000;
    text-decoration: none;
    font-family: "Russo One", sans-serif;
}
.links:hover {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}
.links:visited{
    color: #646464;
    text-decoration: none;
}
#main-block{
    margin: -10px;
    width: 100vw;
    height: 10vh;
    background-color: #000000;
    border-bottom: 2px solid darkred;
    /*border-bottom-left-radius: 30px;*/
    /*border-bottom-right-radius: 30px;*/
}
.main-links{
    text-align: center;
    font-size: 3em;
    word-spacing: 10em;
}
